body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(122, 116, 116);
}

.container{
    background-color: rgb(168, 199, 228);
    border-radius: 15px;
    border-color: rgb(238, 231, 231);
    border-width: 1px;
    border-style: solid;
    margin: 200px 500px;
    padding: 1px 0;
    align-items: center;
}

.words-container{
    /* position: relative; */
    text-align: left;
    padding: 2px 20px 1px;
    background-color: rgb(238, 222, 222);
    margin: 20px;
    border-radius: 10px;
}

/* #words .character-span { */
    /* margin-right: -5px; */
    /* display: inline-block; */
    /* padding: 5px;
    margin: 5px; */
/* } */

#words .spacer{
    padding-left: 1px;
}

#words .active{
    text-decoration: underline;
}

#words .correct{
    color: green;
}

#words .wrong{
    color: red;
}

#words .superwrong{
    color: rgb(121, 3, 3);
}

#input-field{
    opacity: 0;
    position: absolute;
    z-index: -100;
}

/* #input{
    width: 100%;
    resize: none;
} */

.retry-button-container{
    margin-bottom: 10px;
}

#retry-button{
    cursor: pointer;
}

.hidden{
    display: none;
}

